#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ollama"
name = "Ollama"
description.en = "Get up and running with large language models"

version = "0.12.11~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "MIT"
website = "https://ollama.com/"
code = "https://github.com/ollama/ollama"
cpe = "cpe:2.3:a:ollama:ollama"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "2G"
ram.build = "50M"
ram.runtime = "4G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]

    amd64.url = "https://github.com/ollama/ollama/releases/download/v0.12.11/ollama-linux-amd64.tgz"
    amd64.sha256 = "fb140ea4243706d0087b0108418ee5c6f74edcebf5f14e2f289b8e36bd303d0f"
    
    arm64.url = "https://github.com/ollama/ollama/releases/download/v0.12.11/ollama-linux-arm64.tgz"
    arm64.sha256 = "d73a923407eb1476ab74f4c8ea1c793afe0a0e3a5c61cddc6c4c8e312480159b"
    
    in_subdir = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*linux-amd64.tgz"
    autoupdate.asset.arm64 = ".*linux-arm64.tgz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["models"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 11434
    main.fixed = true
