#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ollama"
name = "Ollama"
description.en = "Get up and running with large language models"

version = "0.13.3~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "MIT"
website = "https://ollama.com/"
code = "https://github.com/ollama/ollama"
cpe = "cpe:2.3:a:ollama:ollama"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "2G"
ram.build = "50M"
ram.runtime = "4G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]

    amd64.url = "https://github.com/ollama/ollama/releases/download/v0.13.3/ollama-linux-amd64.tgz"
    amd64.sha256 = "70a3d0f4cccd003641c5531d564a3494ed9a422e397c437d40f802ec1003c6eb"
    
    arm64.url = "https://github.com/ollama/ollama/releases/download/v0.13.3/ollama-linux-arm64.tgz"
    arm64.sha256 = "b9af11f08ef278f719070c000344417677350810b8fcf87617a242ae91701da7"
    
    in_subdir = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*linux-amd64.tgz"
    autoupdate.asset.arm64 = ".*linux-arm64.tgz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["models"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 11434
    main.fixed = true
