#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ollama"
name = "Ollama"
description.en = "Get up and running with large language models"

version = "0.13.1~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "MIT"
website = "https://ollama.com/"
code = "https://github.com/ollama/ollama"
cpe = "cpe:2.3:a:ollama:ollama"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "2G"
ram.build = "50M"
ram.runtime = "4G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]

    amd64.url = "https://github.com/ollama/ollama/releases/download/v0.13.1/ollama-linux-amd64.tgz"
    amd64.sha256 = "4997753db0c578d24f8fc95d1538741609d72529ab6e913ecbf910ae919b0232"
    
    arm64.url = "https://github.com/ollama/ollama/releases/download/v0.13.1/ollama-linux-arm64.tgz"
    arm64.sha256 = "3f2242c3b8e469d2a6fb5b50f14c2c6a9925392479fe213f12628f397d4b0c71"
    
    in_subdir = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*linux-amd64.tgz"
    autoupdate.asset.arm64 = ".*linux-arm64.tgz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["models"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 11434
    main.fixed = true
